.animation {
  width: 100%;
  overflow: hidden;
}

.animation p {
  white-space: nowrap;
  animation: moveText 10s linear infinite;
  font-weight: 500;
}

@keyframes moveText {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
  }
}
