.card_1 {
  transition: all 0.8s;
  div {
    width: 0%;
    transition: all 0.8s;
  }
}
.transitionCard_1 {
  div {
    width: 65%;
  }
}

.card_2 {
  filter: blur(5px);
  transition: all 0.8s;
}
.transitionCard_2 {
  filter: blur(0px);
}
